@import "bootstrap/functions";
@import "bootstrap/variables";
$nav-link-font-size: 1.2rem;
$navbar-brand-font-size: $font-size-lg * 1.1;

@import "map";
@import "./bootstrap/bootstrap.scss";
@import "./fontawesome/fontawesome.scss";
@import "header";
@import "navbar_title";

.duration-input-group .form-control {
	max-width: 10ch;
}

/* === Override sidebar and map heights to stay beneath header === */
.sidebar.sidebar-left {
	top: $header-height;
}

.folium-map#map_canal_towpath_walking {
	height: calc(100% - #{$header-height});
}

/* === Stop the horizontal jump === */
html {
	overflow-y: scroll;
}

/* === Exclude version number on swagger docs page === */
pre:not(.version) {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 1.428571429;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
