/*!
* map.scss
* Copyright © 2025 Dominic Davis-Foster <dominic@davis-foster.co.uk>
* MIT Licenced
*/

html, body {
	/* width: 100%; */

	/* height: 100%; */
	margin: 0;
	padding: 0;
}

html, body, #map {
	height: 100%;
	font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/* === Sidebar === */
.sidebar.collapsed {
	width: 42px !important;
}

.sidebar.sidebar-left {
	left: 0;
	top: 0;
	bottom: 0;
}

.sidebar-content {
	max-height: 100%;
}

.sidebar-pane {
	height: 100%;
}

.sidebar-pane form#walk-form {
	position: absolute;
	top: 40px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}


/* === Walk Form Table === */
table.walk-points th.point-idx, table.walk-points td {
	vertical-align: top;
}

div.walk-points-scroll {
	overflow-y: scroll;

	/* max-height:400px; */
	flex-grow: 1;
	flex-shrink: 1;
}

table.walk-points tbody tr:first-child .point-move-up {
	background-color: #a0a6ab !important;
	border-color: #a0a6ab !important;
	pointer-events: none;
}

table.walk-points tbody tr:nth-last-child(1 of :not(.d-none)) .point-move-down {
	background-color: #a0a6ab !important;
	border-color: #a0a6ab !important;
	pointer-events: none;
}


/* === Map Marker Numbers === */
.num-1::before { content: '1'; }
.num-2::before { content: '2'; }
.num-3::before { content: '3'; }
.num-4::before { content: '4'; }
.num-5::before { content: '5'; }
.num-6::before { content: '6'; }
.num-7::before { content: '7'; }
.num-8::before { content: '8'; }
.num-9::before { content: '9'; }
.num-10::before { content: '10'; }
.num-11::before { content: '11'; }
.num-12::before { content: '12'; }
.num-13::before { content: '13'; }
.num-14::before { content: '14'; }
.num-15::before { content: '15'; }
.num-16::before { content: '16'; }
.num-17::before { content: '17'; }
.num-18::before { content: '18'; }
.num-19::before { content: '19'; }
.num-20::before { content: '20'; }
.num-21::before { content: '21'; }
.num-22::before { content: '22'; }
.num-23::before { content: '23'; }
.num-24::before { content: '24'; }
.num-25::before { content: '25'; }
.num-26::before { content: '26'; }
.num-27::before { content: '27'; }
.num-28::before { content: '28'; }
.num-29::before { content: '29'; }
.num-30::before { content: '30'; }
.num-31::before { content: '31'; }
.num-32::before { content: '32'; }
.num-33::before { content: '33'; }
.num-34::before { content: '34'; }
.num-35::before { content: '35'; }
.num-36::before { content: '36'; }
.num-37::before { content: '37'; }
.num-38::before { content: '38'; }
.num-39::before { content: '39'; }
.num-40::before { content: '40'; }
.num-41::before { content: '41'; }
.num-42::before { content: '42'; }
.num-43::before { content: '43'; }
.num-44::before { content: '44'; }
.num-45::before { content: '45'; }
.num-46::before { content: '46'; }
.num-47::before { content: '47'; }
.num-48::before { content: '48'; }
.num-49::before { content: '49'; }
.num-50::before { content: '50'; }


@font-face {
	font-family: "Chivo Mono";
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url("../webfonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf");
}

.num {
	font-family: "Chivo Mono", monospace;
	font-weight: 900;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

/* === Other === */

.lorem {
	font-style: italic;
	color: #aaa;
}

div#flDebugToolbarHandle {
	top: 20% !important;
}
