html, body {
	/* width: 100%; */

	/* height: 100%; */
	margin: 0;
	padding: 0;
}

html, body, #map {
	height: 100%;
	font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.sidebar.collapsed {
	width: 42px !important;
}


.lorem {
	font-style: italic;
	color: #aaa;
}

div#flDebugToolbarHandle {
	top: 20% !important;
}
