<style>
	.{{ this.class_name }} {
		{{ this.style }}
	}
	.{{ this.class_name }} table{
		margin: auto;
	}
	.{{ this.class_name }} tr{
		text-align: left;
	}
	.{{ this.class_name }} th{
		padding: 2px;
		padding-right: 8px;
	}
</style>
