<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no">
        <meta name="theme-color" content="#5f788a" />
        {% if description %}<meta name="description" content="{{ description }}">{% endif %}

        {% block extrahead %}
        {% endblock extrahead %}

        <link href="{{ url_for('static', filename='css/main.css') }}"
              rel="stylesheet">

        {# <link rel="stylesheet"
       type="text/css"
       href="{{ url_for('static', filename='css/main.min.css') }}"> #}
        {% for stylesheet in extra_stylesheets %}<link rel="stylesheet" type="text/css" href="{{ stylesheet }}">{% endfor %}
        {# <link rel="preload" type="font/woff2" as="font" crossorigin="anonymous" href="{{ url_for('static', filename='webfonts/fa-regular-400.woff2') }}">
        <link rel="preload" type="font/woff2" as="font" crossorigin="anonymous" href="{{ url_for('static', filename='webfonts/fa-solid-900.woff2') }}">
        <link rel="preload" type="font/woff2" as="font" crossorigin="anonymous" href="{{ url_for('static', filename='webfonts/fa-brands-400.woff2') }}"> #}

        {% set home = home|default(False) %}

        {% if home %}
            <title>Home – Towpath Walk Tracker</title>
        {% elif title %}
            <title>{{ title }} – Towpath Walk Tracker</title>
        {% else %}
            <title>Towpath Walk Tracker</title>
        {% endif %}

    </head>

    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    {% if home %}
                        <a class="navbar-brand mr-4 no-fade" href="#">Towpath Walk Tracker</a>
                    {% elif title %}
                        <a class="navbar-brand mr-4" href="{{ url_for('main_page') }}">Towpath Walk Tracker</a>
                        <a class="navbar-brand pull-left mr-4 navbar-page-title"
                           href="#"
                           tabindex="-1">{{ title }}</a>
                    {% else %}
                        <a class="navbar-brand mr-4 no-fade" href="{{ url_for('main_page') }}">Towpath Walk Tracker</a>
                    {% endif %}

                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarToggle"
                            aria-controls="navbarToggle"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav ms-auto mr-3">
                            {% macro navbar_link(name, url) -%}
                                {% if name == title %}
                                    <a class="nav-item nav-link active" href="#">{{ name }}</a>
                                {% else %}
                                    <a class="nav-item nav-link" href="{{ url }}">{{ name }}</a>
                                {% endif %}
                            {%- endmacro %}

                            {% if home %}
                                <a class="nav-item nav-link active" href="#">Map</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for('main_page') }}">Map</a>
                            {% endif %}

                            {{ navbar_link('Walks', '/walks/') }}
                            {{ navbar_link('About', '/about/') }}
                            {{ navbar_link('Usage', '/usage/') }}
                            {{ navbar_link('API', '/api/') }}
                            <a class="nav-item nav-link"
                               href="{{ github_url }}"
                               target="_blank"
                               rel="noopener"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block main %}
            {# <main role="main" class="container flex-grow-1 w-100"> #}
            {% block content %}
            {% endblock content %}
            {# </main> #}
        {% endblock main %}

        {% block footer %}
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4">
                <!-- Footer Links -->
                <div class="container text-center">
                    Powered by <a href="{{ github_url }}">towpath-walk-tracker</a>.
                    © 2025 Dominic Davis-Foster.
                    <br>
                    Map and watercourse data from <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, under <a href="https://opendatacommons.org/licenses/odbl/">ODbL</a>. © OpenStreetMap contributors.
                    Uses <a href="https://github.com/gravitystorm/openstreetmap-carto">OpenStreetMap Carto</a> style.
                    Uses <a href="https://github.com/der-stefan/OpenTopoMap">OpenTopoMap</a> tiles (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA</a>).
                    Uses <a href="https://github.com/hotosm/HDM-CartoCSS">HDM-CartoCSS</a> style Humanitarian OpenStreetMap Team hosted by OpenStreetMap France.
                </div>
            </footer>
        {% endblock footer %}

        {% block scripts %}
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
                    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
                    crossorigin="anonymous"></script>

            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
            {% if not home and title %}<script> setupNavbarTitleScroll() </script>{% endif %}
        {% endblock scripts %}

    </body>
</html>
