{% extends "layout.jinja2" %}

{% block extrahead %}
    {{ header|safe }}

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/fontawesome.min.css') }}">

    <style>
        table.walk-points th.point-idx, table.walk-points td {vertical-align: top;}
        div.walk-points-scroll {
            overflow-y: scroll;
            height:400px;
        }

        table.walk-points tbody tr:first-child .point-move-up {
            background-color: #a0a6ab !important;
            border-color: #a0a6ab !important;
            pointer-events: none;
        }

        table.walk-points tbody tr:nth-last-child(1 of :not(.d-none)) .point-move-down {
            background-color: #a0a6ab !important;
            border-color: #a0a6ab !important;
            pointer-events: none;
        }
    </style>
{% endblock extrahead %}

{% block content %}

    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li>
                    <a href="#home" role="tab"><i class="fa fa-bars"></i></a>
                </li>
                <li>
                    <a href="#profile" role="tab"><i class="fa fa-user"></i></a>
                </li>
                <li class="disabled">
                    <a href="#messages" role="tab"><i class="fa fa-envelope"></i></a>
                </li>
                <li class="disabled" id="sidebarAddButton">
                    <a href="#add" role="tab"><i class="fas fa-plus"></i></a>
                </li>
                <li>
                    <a href="https://github.com/domdfcoding/towpath-walk-tracker"
                       role="tab"
                       target="_blank"><i class="fab fa-github"></i></a>
                </li>
            </ul>

            <ul role="tablist">
                <li>
                    <a href="#settings" role="tab"><i class="fa fa-cog"></i></a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    sidebar-v2
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <p>
                    A responsive sidebar for mapping libraries like <a href="https://leafletjs.com/">Leaflet</a> or <a href="https://openlayers.org/">OpenLayers</a>.
                </p>

                <p class="lorem">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

                <p class="lorem">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

                <p class="lorem">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

                <p class="lorem">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>

            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">
                    Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">
                    Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane" id="add">
                <h1 class="sidebar-header">
                    Add a Walk<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                {% include "walk_form.jinja2" %}
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">
                    Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
            </div>
        </div>

    </div>

    {{ body|safe }}

    <div class="modal fade"
         id="loadingModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center"
             role="document">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ super() }}

    {{ scripts|safe }}

    <script>{{ script|safe }}</script>

    <script src="/static/js/walk_form.js"></script>
    <script src="/static/js/bootstrap_form_validator.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/domdfcoding/html-duration-picker.js@bootstrap/dist/html-duration-picker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>

        const walkForm = new WalkForm(document.querySelector('table.walk-points'));
        const walkPointsRows = walkForm.rows;
        walkForm.setupButtons();

        document.querySelectorAll('.needs-validation#walk-form').forEach(form => {
            form.addEventListener('submit', event => {
                let enabledCount = 0;
                walkPointsRows.forEach((pointRow) => {
                    enabledCount += pointRow.isEnabled();
                });
                if (enabledCount < 2) {
                    // TODO: show message
                    console.log('Too few points!');
                    event.preventDefault();
                    event.stopPropagation();
                }
            });
        });

        document.querySelectorAll('.needs-validation#walk-form').forEach(form => {
            form.addEventListener('reset', () => {
                console.log('Form was reset');
                window.setTimeout(() => { walkForm.reorder(); }, 0);
            });
        });

        const walkPreview = new LeafletWalkPreview(walkForm);

        document.querySelector('table.walk-points').addEventListener('changed',
            (e) => { walkPreview.syncFromForm(); }
        );

        flatpickr(".form-control#start", {enableTime: true, dateFormat: "Y-m-d H:i"});
        var form = document.getElementById("walk-form")
        // form.reset()  // Remove any elements from before page refreshed  // TODO: doesn't seem to work
        document.querySelector('table.walk-points').dispatchEvent(walkPointsChangedEvent);

        const bsLoadingModal = new bootstrap.Modal('#loadingModal');
        bsLoadingModal.show();
    </script>



{% endblock scripts %}
