{% extends "layout.jinja2" %}
{% set home = True %}

{% block extrahead %}
    {{ header|safe }}

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <style>
    html {
        overflow-y: hidden !important;
    }
    </style>

{% endblock extrahead %}

{% block content %}

    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li class="disabled" id="sidebarWalksButton">
                    <a href="#walks" role="tab"><i class="fas fa-route"></i></a>
                </li>
                <li class="disabled" id="sidebarAddButton">
                    <a href="#add" role="tab"><i class="fas fa-plus"></i></a>
                </li>
            </ul>

            {# <ul role="tablist">
                <li>
                    <a href="#settings" role="tab"><i class="fa fa-cog"></i></a>
                </li>
            </ul> #}
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane flex-column" id="walks">
                <h1 class="sidebar-header">
                    Walks
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <div class="d-flex flex-column flex-grow-1 overflow-scroll"
                     id="walksContent"></div>
            </div>

            <div class="sidebar-pane flex-column" id="add">
                <h1 class="sidebar-header">
                    Add a Walk
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <form class="needs-validation d-flex flex-column flex-grow-1 flex-shrink-1"
                      id="walk-form"
                      novalidate
                      method="POST">

                    {% include "walk_form.jinja2" %}
                    <div class="gap-2 mt-2 d-md-flex justify-content-md-center">
                        <button class="col btn btn-primary btn-lg" type="submit">Save Walk</button>
                        <button class="col btn btn-danger btn-lg" type="reset">Clear</button>
                    </div>
                </form>
            </div>

            {# <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">
                    Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
            </div> #}
        </div>

    </div>

    {{ body|safe }}

    <div class="modal fade loading-modal"
         id="loadingModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center"
             role="document">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <template id="walkTemplate">
        <div class="col walk-entry">
            <div class="row h-100 border m-1">
                <div class="col-8 ms-1">
                    <div class="col-md-12 pb-1 mt-1 border-bottom">
                        <h3>
                            <a id="walkTemplateTitle"></a>
                        </h3>
                    </div>
                    <div class="row mt-1">
                        <div id="walkTemplateStart" class="col-12 mb-0"></div>
                        <div id="walkTemplateDuration" class="col-12 mb-0"></div>
                    </div>
                    <div class="mt-1 mb-2">
                        <p id="walkTemplateNotes"></p>
                    </div>
                </div>
                <div class="col-3 mt-2 ms-auto">
                    <img id="walkTemplateImg"
                         src=""
                         class="img-fluid rounded"
                         alt="Map showing the walk route">
                </div>
            </div>
        </div>
    </template>

{% endblock content %}

{% block scripts %}
    {{ super() }}

    {{ scripts|safe }}

    <script>{{ script|safe }}</script>

    <script src="/static/js/bootstrap_form_validator.js"></script>

    <script>

        const walkForm = new WalkForm(document.querySelector('table.walk-points'));
        walkForm.setupButtons();

        setupWalkFormValidation(document.querySelectorAll('.needs-validation#walk-form'), walkForm)

        const walkPreview = new LeafletWalkPreview(walkForm);
        walkPreview.is_active = () => {
            return (sidebar_add_walk_pane.classList.contains("active") && !sidebar._sidebar.classList.contains("collapsed"))
        }

        document.querySelector('table.walk-points').addEventListener('changed',
            (e) => { walkPreview.syncFromForm(); }
        );

        flatpickr(".form-control#start", {enableTime: true, dateFormat: "Y-m-d H:i"});
        var form = document.getElementById("walk-form")
        // form.reset()  // Remove any elements from before page refreshed  // TODO: doesn't seem to work
        document.querySelector('table.walk-points').dispatchEvent(walkPointsChangedEvent);

        const bsLoadingModal = new bootstrap.Modal('#loadingModal');
        bsLoadingModal.show();

        drawPreviousWalks();

        setupResizeObserver(map_canal_towpath_walking);
    </script>



{% endblock scripts %}

{% block footer %}
{% endblock footer %}
