
{% macro script(this, kwargs) %}
    var sidebar = L.control.sidebar('sidebar').addTo({{ this._parent.get_name() }});
    var sidebar_add_walk_pane = sidebar._container.querySelector('#add');
{% endmacro %}
