{% extends "layout.jinja2" %}
{% set title = form.title.default %}

{% block extrahead %}
    {{ header|safe }}

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <style>

    .folium-map {
        flex-grow: 1;
        min-height: 40vh;
    }

    .walk-details p, .walk-details span, .walk-details strong {
        font-size: 1.25rem;
    }

    .walk-details strong {
        font-weight: 500;
    }

    div.walk-points-scroll {
        overflow-y: scroll;
        max-height: 170px;
    }
    </style>



{% endblock extrahead %}

{% block content %}

    <div class="container">
        <div class="min-vh-100-nav d-flex flex-column overflow-hidden">

            <div id="walkDetails" class="row g-3 walk-details">
                <div class="col-md-12 d-flex justify-content-between pb-1 border-bottom">
                    <h2>{{ form.title.default }}</h2>
                    <button id="walkEditBtn" class="btn btn-secondary ml-auto me-0">Edit</button>
                </div>
                <div class="col-md-12 d-flex mt-1">
                    <div class="me-4">
                        <p>
                            <strong>Start</strong> {{ form.start.default }}
                        </p>
                    </div>
                    <p>
                        <strong>Duration</strong> {{ form.duration_hrs.default }}h {{ format(form.duration_mins.default, '02d') }}mins
                    </p>
                </div>
                <div class="border mt-0 mb-2">
                    <h5 class="mt-1">Notes</h5>
                    <p>{{ form.notes.default }}</p>
                </div>
            </div>
            <div class="row g-3 walk-edit">
                <form class="needs-validation d-none" id="walk-form" novalidate>
                    <div class="row">
                        {% set twocol = true %}
                        {% include "walk_form.jinja2" %}
                    </div>
                </form>
            </div>

            <div class="col-sm-12 d-flex flex-column flex-grow-1 mt-4 mb-2 pb-1">{{ body|safe }}</div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ super() }}

    {{ scripts|safe }}

    <script>{{ script|safe }}</script>

    <script src="/static/js/bootstrap_form_validator.js"></script>

    <script>

        walkEditBtn.addEventListener('click', (e) => {
            walkDetails.classList.add("d-none");
            document.getElementById("walk-form").classList.remove("d-none")
            });

        const walkForm = new WalkForm(document.querySelector('table.walk-points'));
        walkForm.setupButtons();

        setupWalkFormValidation(document.querySelectorAll('.needs-validation#walk-form'), walkForm)

        const walkPreview = new LeafletWalkPreview(walkForm);

        {# walkPreview.is_active = () => {
            return (!document.getElementById("walk-form").classList.contains("d-none"))
        } #}

        {% for point_idx, point in enumerate(walk_points) %}
        walkPreview.addMarker({{ point.latitude }}, {{ point.longitude }}, {{ point_idx+1 }})
        {% endfor %}

        walkPreview.polyLineWalk = drawWalk([
            {% for node in walk_route %}
            L.latLng({{ node.latitude }}, {{ node.longitude }}),
            {% endfor %}
        ], feature_group_current_walk, '#ff0000', false);

        document.querySelector('table.walk-points').addEventListener('changed',
            (e) => { walkPreview.syncFromForm(); }
        );

        flatpickr(".form-control#start", {enableTime: true, dateFormat: "Y-m-d H:i"});
        var form = document.getElementById("walk-form")

        setupResizeObserver(map_canal_towpath_walking);

        walkForm.populatePointsTable([
                {% for point in walk_points %}
                L.latLng({{ point.latitude }}, {{ point.longitude}}, {{ point.id}}),
                {% endfor %}
        ]);

        {# document.querySelector('table.walk-points').dispatchEvent(walkPointsChangedEvent); #}
        {# walkPreview.syncFromForm();  #}

        map_canal_towpath_walking.fitBounds(
            feature_group_walk_markers.getBounds()
        );

</script>



{% endblock scripts %}
