{% extends "layout.jinja2" %}

{% block extrahead %}
    {{ header|safe }}

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/fontawesome.min.css') }}">

    <style>
        table.walk-points th.point-idx, table.walk-points td {vertical-align: top;}
        div.walk-points-scroll {
            overflow-y: scroll;
            height:400px;
        }

        table.walk-points tbody tr:first-child .point-move-up {
            background-color: #a0a6ab !important;
            border-color: #a0a6ab !important;
            pointer-events: none;
        }

        table.walk-points tbody tr:nth-last-child(1 of :not(.d-none)) .point-move-down {
            background-color: #a0a6ab !important;
            border-color: #a0a6ab !important;
            pointer-events: none;
        }
    </style>


    <style>

    .folium-map {
        flex-grow: 1;
    }

    .walk-details p, .walk-details span, .walk-details strong {
        font-size: 1.25rem;
    }

    .walk-details strong {
        font-weight: 500;
    }
    </style>



{% endblock extrahead %}

{% block content %}

    <div class="container">
        <div class="min-vh-100 d-flex flex-column">

            <div id="walkDetails" class="row g-3 walk-details">
                <div class="col-md-12 d-flex justify-content-between pb-1 border-bottom">
                    <h2>{{ form.title.default }}</h2>
                    <button id="walkEditBtn" class="btn btn-secondary ml-auto me-0">Edit</button>
                </div>
                <div class="col-md-12 d-flex mt-1">
                    <div class="me-4">
                        <p>
                            <strong>Start</strong> {{ form.start.default }}
                        </p>
                    </div>
                    <p>
                        {% set duration_hrs, duration_mins = form.duration.default.split(':') %}
                        <strong>Duration</strong> {{ duration_hrs }}h {{ duration_mins }}mins
                    </p>
                </div>
                <div class="border mt-0 mb-2">
                    <h5 class="mt-1">Notes</h5>
                    <p>{{ form.notes.default }}</p>
                </div>
            </div>
            <div class="row g-3 walk-edit">
                <form class="needs-validation" id="walk-form" novalidate>
                    {{ form.csrf_token }}
                    <div class="col-12">
                        {{ form.title.label(class_='form-label') }}
                        {{ form.title(class_='form-control') }}
                    </div>

                    <div class="col-sm-8">
                        {{ form.start.label(class_='form-label') }}
                        {{ form.start(class_='form-control') }}
                    </div>

                    <div class="col-sm-4">
                        {{ form.duration.label(class_='form-label') }}
                        {# TODO: html-duration-picker class breaks form label when wrapping #}
                        {{ form.duration(class_='form-control html-duration-picker', **{"data-hide-seconds": ''}) }}
                    </div>

                    <div class="col-12">
                        {{ form.notes.label(class_='form-label') }}
                        {{ form.notes(class_='form-control') }}
                    </div>
                </form>
            </div>

            <div class="col-sm-12 d-flex flex-column flex-grow-1 mt-4 mb-2 pb-1">{{ body|safe }}</div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ super() }}

    {{ scripts|safe }}

    <script>{{ script|safe }}</script>

    <script src="/static/js/bootstrap_form_validator.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/domdfcoding/html-duration-picker.js@bootstrap/dist/html-duration-picker.min.js"></script>

    <script>

        document.getElementById("walk-form").classList.add("d-none")
        walkEditBtn.addEventListener('click', (e) => {
            walkDetails.classList.add("d-none");
            document.getElementById("walk-form").classList.remove("d-none")
            });

        {# const walkForm = new WalkForm(document.querySelector('table.walk-points'));
        walkForm.setupButtons();

        setupWalkFormValidation(document.querySelectorAll('.needs-validation#walk-form'), walkForm)

        const walkPreview = new LeafletWalkPreview(walkForm);

        document.querySelector('table.walk-points').addEventListener('changed',
            (e) => { walkPreview.syncFromForm(); }
        ); #}

        flatpickr(".form-control#start", {enableTime: true, dateFormat: "Y-m-d H:i"});
        var form = document.getElementById("walk-form")
        document.querySelector('table.walk-points').dispatchEvent(walkPointsChangedEvent);
</script>



{% endblock scripts %}
