{# djlint:off #}
{% macro script(this, kwargs) %}
    // var {{this.get_name()}} = L.popup();

    function placeMarkerOnClick(e) {
        if (!sidebar_add_walk_pane.classList.contains("active")) {
            return;
        }

        let closest_latlng = walkPreview.snapCoordToLine(e.latlng.lat, e.latlng.lng);
        walkPreview.addMarker(closest_latlng.lng, closest_latlng.lat);
        walkForm.addPoint(closest_latlng.lng, closest_latlng.lat)

        walkPreview.refresh(false);

    }

    {# sidebar.on('closing', function(e) {
        if (sidebar_add_walk_pane.classList.contains("active")) clearMarkers();
    }); #}

    {{this._parent.get_name()}}.on('click', placeMarkerOnClick);
{% endmacro %}
{# djlint:on #}
