{% macro script(this, kwargs) %}
				// var {{this.get_name()}} = L.popup();
				var placedMarkerCount = 0;
				var placedMarkerLatLng = [];
				var poly_line_walk = null;
				function latLngPop(e) {
					// {{this.get_name()}}
					//     .setLatLng(e.latlng)
					//     .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
					//                 "<br>Longitude: " + e.latlng.lng.toFixed(4))
					//     .openOn({{this._parent.get_name()}});

					console.log("Latitude: " + e.latlng.lat.toFixed(4));
					console.log("Longitude: " + e.latlng.lng.toFixed(4));


					const coordinates_array = geo_json_watercourses.getLayers().map(l => l.feature.geometry.coordinates)
					// console.log(coordinates_array);
					let closest_latlng = L.GeometryUtil.closest(map_canal_towpath_walking, coordinates_array, [e.latlng.lng, e.latlng.lat])
					console.log("Closest Latitude: " + closest_latlng.lat.toFixed(4));
					console.log("Closest Longitude: " + closest_latlng.lng.toFixed(4));
					markerClosestPolyline1 = L.marker(closest_latlng).addTo(map_canal_towpath_walking).bindPopup('Closest point on polyline1');

					L.marker(
						[closest_latlng.lng, closest_latlng.lat],
						{}
					).addTo({{ this._parent.get_name() }});

					placedMarkerLatLng.push([closest_latlng.lng, closest_latlng.lat])
					placedMarkerCount += 1;

					if (placedMarkerCount == 2) {
						fetch("/add", {
							method: "POST",
							headers: {'Content-Type': 'application/json'},
							body: JSON.stringify(placedMarkerLatLng)
						})
						.then(res => res.json())
						.then(coords => {
							poly_line_walk =  L.polyline(coords, {"bubblingMouseEvents": true, "color": "#ff0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            					).addTo({{this._parent.get_name()}});
							console.log("Request complete! response:", coords);
							placedMarkerLatLng = [];
							placedMarkerCount = 0;
						});
					}

				}

				{{this._parent.get_name()}}.on('click', latLngPop);
			{% endmacro %}
