{# djlint:off #}
{% macro script(this, kwargs) %}

    function placeMarkerOnClick(e) {
        walkPreview.placeMarkerOnMap(e.latlng);
    }

    map_canal_towpath_walking.on('click', placeMarkerOnClick);
{% endmacro %}
{# djlint:on #}
