{{ form.csrf_token }}
<div class="{% if twocol %}col-md-10{% else %}row{% endif %} gy-2">
    <div class="col-12">
        {{ form.title.label(class_='form-label') }}
        {{ form.title(class_='form-control') }}
    </div>

    <div class="col-sm-8">
        {{ form.start.label(class_='form-label') }}
        {{ form.start(class_='form-control') }}
    </div>

    <div class="col-sm-4">
        {{ form.duration.label(class_='form-label') }}
        {# TODO: html-duration-picker class breaks form label when wrapping #}
        {{ form.duration(class_='form-control html-duration-picker', **{"data-hide-seconds": ''}) }}
    </div>

    <div class="col-12">
        {{ form.notes.label(class_='form-label') }}
        {{ form.notes(class_='form-control') }}
    </div>
</div>

{% if twocol %}<div class="col-md-2 gy-2">{% endif %}
    <label class="form-label{% if not twocol %} mt-2{% endif %} mb-0">Points</label>
    <div class="walk-points-scroll mt-0">
        <table class="walk-points my-1 w-auto">
            {% for idx, point in enumerate(form.points) %}
                <tr id="points-{{ idx }}" data-point-index="{{ idx }}">
                    <th class="point-idx">
                        <div class="input-group">
                            <span class="input-group-text justify-content-center">{{ idx+1 }}</span>
                        </div>
                    </th>
                    <td>
                        <div class="container g-1">
                            <div class="row g-1">
                                <div class="col d-none">
                                    <div class="input-group has-validation">
                                        {{ point.latitude(class_='form-control point-latitude', readonly='') }}
                                        <span class="input-group-text">° N</span>
                                        <div class="invalid-feedback">A value is required.</div>
                                    </div>
                                </div>
                                <div class="col d-none">
                                    <div class="input-group has-validation">
                                        {{ point.longitude(class_='form-control point-longitude', readonly='') }}
                                        <span class="input-group-text">° E</span>
                                        <div class="invalid-feedback">A value is required.</div>
                                    </div>
                                </div>

                                <div class="col d-none">{{ point.point_id(class_='form-control point-id', readonly='') }}</div>
                                <div class="col d-none">{{ point.enabled(class_='form-control point-enabled', readonly='') }}</div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-append">

                                            {# <div class="d-grid gap-1 d-md-flex justify-content-md-end h-100"></div> #}
                                            <button class="btn btn-danger point-delete"
                                                    id="points-{{ idx }}-delete"
                                                    type="button">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <button class="btn btn-secondary point-move-up"
                                                    id="points-{{ idx }}-move-up"
                                                    type="button">
                                                <i class="fas fa-caret-up"></i>
                                            </button>
                                            <button class="btn btn-secondary point-move-down"
                                                    id="points-{{ idx }}-move-down"
                                                    type="button">
                                                <i class="fas fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if twocol %}</div>{% endif %}
</div>
