{# <span class="text-muted">(Optional)</span> #}
<form class="needs-validation"
      id="walk-form"
      novalidate
      method="POST"
      action="{{ url_for('main_page') }}">
    {#  onsubmit="submitWalkForm();return false" #}

    {{ form.csrf_token }}
    <div class="row g-3">
        <div class="col-12">
            {{ form.title.label(class_='form-label') }}
            {{ form.title(class_='form-control') }}
        </div>

        <div class="col-sm-8">
            {{ form.start.label(class_='form-label') }}
            {{ form.start(class_='form-control') }}
        </div>

        <div class="col-sm-4">
            {{ form.duration.label(class_='form-label') }}
            {{ form.duration(class_='form-control html-duration-picker', **{"data-hide-seconds": ''}) }}
        </div>

        <div class="col-12">
            {{ form.notes.label(class_='form-label') }}
            {{ form.notes(class_='form-control') }}
        </div>
    </div>

    <label class="form-label">Points</label>
    <div class="walk-points-scroll">
        <table class="walk-points">
            {% for idx, point in enumerate(form.points) %}
                <tr id="points-{{ idx }}" data-point-index="{{ idx }}">
                    <th class="point-idx">
                        <div class="input-group">
                            <span class="input-group-text">{{ idx }}</span>
                        </div>
                    </th>
                    <td>
                        <div class="container g-1">
                            <div class="row g-1">
                                <div class="col">
                                    <div class="input-group has-validation">
                                        {{ point.latitude(class_='form-control point-latitude') }}
                                        <span class="input-group-text">° N</span>
                                        <div class="invalid-feedback">A value is required.</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group has-validation ">
                                        {{ point.longitude(class_='form-control point-longitude') }}
                                        <span class="input-group-text">° E</span>
                                        <div class="invalid-feedback">A value is required.</div>
                                    </div>
                                </div>

                                <div class="col d-none">{{ point.enabled(class_='form-control point-enabled') }}</div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-append">

                                            {# <div class="d-grid gap-1 d-md-flex justify-content-md-end h-100"> #}
                                            <button class="btn btn-danger point-delete"
                                                    id="points-{{ idx }}-delete"
                                                    type="button">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                            <button class="btn btn-secondary point-move-up"
                                                    id="points-{{ idx }}-move-up"
                                                    type="button">
                                                <i class="fa-solid fa-caret-up"></i>
                                            </button>
                                            <button class="btn btn-secondary point-move-down"
                                                    id="points-{{ idx }}-move-down"
                                                    type="button">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="gap-2 d-md-flex justify-content-md-center">
    <button class="col-sm-5 btn btn-primary btn-lg" type="submit">Save Walk</button>
    <button class="col-sm-5 btn btn-danger btn-lg" type="reset">Reset and Clear Points</button>
</div>

{# <input type="submit" value="Go"> #}
</form>
