{% extends "layout.jinja2" %}
{% set title = "Walks" %}
{# TODO: options to sort alphabetically and by date, search/filter, and to force single column (remove row class) #}

{% block content %}
    <div class="container pt-2">
        <div class="col-md-12 d-flex justify-content-between p-1 rounded bg-secondary-subtle">
            <h2>{{ title }}</h2>
            <button id="gridToggleBtn" class="btn btn-secondary ml-auto me-0">
                <i class="fas fa-th-large"></i>
            </button>
        </div>
        <div class="row g-1" id="walkGrid">
            {% for walk in walks %}
                <div class="col-md-6 walk-entry">
                    <div class="row h-100 border m-1">
                        <div class="col-8 ms-1">
                            <div class="col-md-12 pb-1 mt-1 border-bottom">
                                <h3>
                                    <a href="{{ walk.walk_url }}">{{ walk.title }}</a>
                                </h3>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-12 col-xl-2 mb-0">{{ walk.approx_distance }}</div>
                                <div class="col-sm-12 col-xl-6 mb-0">
                                    <strong>Start</strong> {{ walk.start }}
                                </div>
                                <div class="col-sm-12 col-xl-4 mb-0">
                                    <strong>Duration</strong> {{ walk.duration // 60 }}h {{ format(walk.duration % 60, '02d') }}mins
                                </div>
                            </div>
                            <div class="mt-1 mb-2">
                                <p>{{ walk.notes }}</p>
                            </div>
                        </div>
                        <div class="col-3 mt-2 ms-auto">
                            <img src="{{ walk.thumbnail_url }}"
                                 class="img-fluid rounded"
                                 alt="Map showing the walk route">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ super() }}

    <script>
        const walkListDisplay = new WalkListDisplay(walkGrid, gridToggleBtn);
        walkListDisplay.applyURLParams();
        gridToggleBtn.onclick = ((e) => walkListDisplay.toggleGridDisplay())
    </script>
{% endblock scripts %}
