{# Adapted from https://github.com/python-visualization/folium
MIT Licenced
#}
{# djlint:off #}
{% macro script(this, kwargs) %}

    var geo_json_watercourses = L.geoJson(null, {
		{%- if this.smooth_factor is not none %}smoothFactor: {{ this.smooth_factor|tojson }},{%- endif %}
        {%- if this.zoom_on_click %}onEachFeature: watercoursesZoomOnClick,{%- endif %}
        {%- if this.marker %}pointToLayer: geo_json_watercourses_pointToLayer,{%- endif %}
		...{{ this.options | tojavascript }}
	});

	$.ajax({{ this.embed_link|tojson }}, {dataType: 'json', async: true}).done(addWatercoursesGeoJson);

	{%- if not this.style %}
		geo_json_watercourses.setStyle(function(feature) {return feature.properties.style;});
	{%- endif %}

{% endmacro %}
{# djlint:on #}
