{# Adapted from https://github.com/python-visualization/folium
MIT Licenced
#}
{# djlint:off #}
{% macro script(this, kwargs) %}

    var geo_json_watercourses = L.geoJson(null, {
		{%- if this.smooth_factor is not none %}smoothFactor: {{ this.smooth_factor|tojson }},{%- endif %}
        {%- if this.zoom_on_click %}onEachFeature: watercoursesZoomOnClick,{%- endif %}
        {%- if this.marker %}pointToLayer: geo_json_watercourses_pointToLayer,{%- endif %}
		...{{ this.options | tojavascript }}
	});

	fetch(
		{{ this.embed_link | tojson }},
		{ headers: { 'Content-Type': 'application/json' } }
	).then(res => res.json())
	.then((data) => {
		addWatercoursesGeoJson(data);
		bsLoadingModal.hide();
		sidebarWalksButton.classList.remove('disabled');
		sidebarAddButton.classList.remove('disabled');
		});

	{%- if not this.style %}
		geo_json_watercourses.setStyle(function(feature) {return feature.properties.style;});
	{%- endif %}

{% endmacro %}
{# djlint:on #}
