{% macro script(this, kwargs) %}
				function updateQueryStringParam(key, value) {
					let url = new URL(window.location.href);
					url.searchParams.set(key, value); // Add or update the parameter
					// window.history.pushState({}, null, url);
					window.history.replaceState({}, '', url);
				}

				{{this._parent.get_name()}}.on('zoomend', function() {
					var zoomLvl = {{this._parent.get_name()}}.getZoom();
					updateQueryStringParam('zoom', zoomLvl)
				});

				{{this._parent.get_name()}}.on('moveend', function() {
					var centre = {{this._parent.get_name()}}.getCenter();
					updateQueryStringParam('lat', centre.lat);
					updateQueryStringParam('lng', centre.lng);
				});
			{% endmacro %}
